<!DOCTYPE html>
<html>
<head>
    <title>Drumbumdeedum</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/app.css">
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="/" class="header item"><i class="home icon"></i>Home</a>
    </div>
    <a href="/blogs/new" class="item"><i class="plus icon"></i>New Post</a>
</div>
